@{
    ViewData["Title"] = "Voiture ajoutée";
}

<div class="create-success-container">
    <p class="create-success-title">Merci !</p>
    <p class="create-success-text">votre voiture a bien été publiée</p>
    <a href="@Url.Action("Index", "Home")" class="create-success-cta">
        Retour à l’accueil
    </a>
</div>
