<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Express_Voitures</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Express_Voitures.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
</head>
<body>
    <header class="main-header">
        <div class="logo">Express Voitures</div>
        <nav class="main-nav">
            <a asp-controller="Home" asp-action="Index">Accueil</a>
            <a asp-controller="Voitures" asp-action="Create">Ajouter une voiture</a>

            @if (User.Identity.IsAuthenticated)
            {
                <a class="logo-button" asp-area="Identity" asp-page="/Account/Logout">Se déconnecter</a>
            }
            else
            {
                <a class="logo-button" asp-area="Identity" asp-page="/Account/Login">Se connecter</a>
            }

        </nav>
    </header>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Express_Voitures - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
